<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>servlet.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>FirstSessionServlet</display-name>
    <servlet-name>FirstSessionServlet</servlet-name>
    <servlet-class>servlet.session.FirstSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstSessionServlet</servlet-name>
    <url-pattern>/First</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondSessionServlet</display-name>
    <servlet-name>SecondSessionServlet</servlet-name>
    <servlet-class>servlet.session.SecondSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondSessionServlet</servlet-name>
    <url-pattern>/Second</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThirdSessionServlet</display-name>
    <servlet-name>ThirdSessionServlet</servlet-name>
    <servlet-class>servlet.session.ThirdSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThirdSessionServlet</servlet-name>
    <url-pattern>/Third</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.practice.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.practice.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LS</url-pattern>
  </servlet-mapping>
</web-app>